<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>杭州租房信息</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <div class="container-fluid">
        <h1>杭州租房信息</h1>
        <div class="row" style="margin-left:3px">
            <div class="col-md-12">
                <form action="/" method="POST" class="form-inline">
                    <div class="form-group">
                        <label for="keyword">
                            请输入关键词：
                        </label>
                        <input type="text" class="form-control" id="keyword"
                               name="keyword" value="{{ keyword }}" placeholder="例：阿里巴巴西溪园区">
                    </div>
                    <div class="form-group">
                        <label for="is_reverse_time">
                            排序：
                        </label>
                        <select name="is_reverse_time" class="form-control">
                            <option value="1" {% if is_reverse_time == 1 %} selected {% endif %}>
                                发帖时间倒序
                            </option>
                            <option value="0" {% if is_reverse_time == 0 %} selected {% endif %}>
                                发帖时间正序
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
            </div>
        </div>
        <div class="row" style="margin-left:3px;margin-right:3px;">
            <div class="col-md-12">
                <div class="table-responsive" style="padding-top:20px;">
                    <table class="table table-bordered table-hover table-condensed table-striped">
                        <thead>
                        <tr>
                            <th width="50%" class="info">标题</th>
                            <th width="20%" class="info">发帖时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in topics %}
                        <tr>
                            <td><a href="{{ item['topic_url'] }}" target="_blank">{{ item["title"] }}</a> </td>
                            {% if item["time"] %}
                            <td>{{ item["time"] }}</td>
                            {% else %}
                            <td>时间未知</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-top:30px">
                共 <span style="color:red;">{{ count }}</span> 条记录
                共 <span style="color:red;">{{ page.max_page }}</span> 页
            </div>
            <div class="col-md-10">
                <nav>
                    <ul class="pagination">
                        {% if page.current_page == 1 %}
                        <li class="disabled">
                            <span aria-hidden="true">第一页</span>
                        </li>
                        <li class="disabled">
                            <span aria-hidden="true">&laquo;</span>
                        </li>
                        {% else %}
                        <li>
                            <a href="javascript:gotoPage(1)">
                                <span aria-hidden="true">第一页</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:gotoPage({{ page.current_page - 1 }})" aria-hidden="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for p in range(page.begin_page, page.end_page + 1) %}
                            {% if page.current_page == p %}
                            <li class="active"><span aria-hidden="true">{{ p }}</span></li>
                            {% else %}
                            <li><a href="javascript:gotoPage({{ p }})">{{p}}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page.current_page == page.max_page %}
                             <li class="disabled">
                                <span aria-hidden="true">&raquo;</span>
                            </li>
                            <li class="disabled">
                                <span aria-hidden="true">最后一页</span>
                            </li>
                        {% else %}
                            <li>
                                <a href="javascript:gotoPage({{ page.current_page + 1 }})" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:gotoPage({{page.max_page}})">
                                    <span aria-hidden="true">最后一页</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function gotoPage(current_page){
            $myform = $("form");
            $myform.append("<input type='hidden' name='current_page' value=" + current_page+ ">")
            $myform.submit();
        }
    </script>
</body>
</html>